body {
    font-family: "Arial", "Meiryo", sans-serif;
}
h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    text-align: center;
    border-bottom: solid 1px black;
}
.colorchange span:nth-child(1) { color: skyblue;}
.colorchange span:nth-child(2) { color: black;}
.colorchange span:nth-child(3) { color: rgb(255, 192, 203);}
.colorchange span:nth-child(4) { color: black;}
.colorchange span:nth-child(5) { color: black;}
.colorchange span:nth-child(6) { color: black;}
.colorchange span:nth-child(7) { color: black;}
.pink {
    font-size: 20px;
    text-align: center;
    color: pink;
}
.bold {
    text-align: center;
    font-weight: bold;
}
.blue {
    font-size: 20px;
    text-align: center;
    color: skyblue;
}
p {
    text-align: center;
}
