html {
    font-size: 20px;
}
body {
    font-family: "Arial", "Meiryo", sans-serif;
    font-size: 20px;
}
h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-align: center;
    text-shadow: 3px 3px 4px gray;
    border-bottom: solid 3px rgb(115, 115, 114);
}
.colorchange span:nth-child(1) { color: skyblue;}
.colorchange span:nth-child(2) { color: rgb(255, 192, 203);}
#profile {
    text-align: center;
}
.pink {
    color: pink;
}
.bold {
    font-weight: bold;
}
.blue {
    color: skyblue;
}

